@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
}

@mixin buttonReset {
  position: relative;
  font: inherit;
  padding: 0;
  cursor: pointer;
  color: inherit;
  border: none;
  background-color: transparent;
}

@mixin linkUnderline {
  > span {
    display: inline-flex;
    flex-direction: column;
    align-items: baseline;
    line-height: 120%;

    &::after {
      width: 0;
      content: '';
      height: 1px;
      display: block;
      align-self: center;
      transition: all ease-in-out 0.2s;
      background-color: $colorMain;
    }
  }

  &:hover {
    > span {
      &::after {
        width: 100%;
      }
    }
  }
}
