.icon {
    display: inline-block;
    vertical-align: middle;
    width: 1em;
    height: 1em;
}

.icon-close {
    font-size:(20/10)*1rem;
    width:(20/20)*1em;
}
.icon-file {
    font-size:(36/10)*1rem;
    width:(28/36)*1em;
}
