// FONT
$fontFamilyMain: "Montserrat", sans-serif;
$fontFamilySecondary: "Roboto", sans-serif;
$fontSizeMain: 16px;
$fontWeightMain: 400;
$fontLineHeightMain: 150%;

// COLOR

$colorMain: #444ce0;
$colorSuccess: #26de81;
$colorDanger: #fc5c65;
$colorWarning: #fed330;
$colorLight: #999;
$colorPurple: #8854d0;

// MEDIA
$desktopWidth: 1200px;
$smDesktopWidth: 992px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;
