// FONT
$fontFamilySansSerif: "Mont", sans-serif;
$fontFamilySerif: "PlayfairDisplay", sans-serif;
$fontSizeMain: 16px;
$fontWeightMain: 400;
$fontLineHeightMain: 150%;

// COLOR
$colorMain: #444ce0;
$colorSuccess: #26de81;
$colorDanger: #fc5c65;
$colorWarning: #fed330;
$colorLight: #999999;
$colorPurple: #8854d0;

// MEDIA
$xlWidth: 1200px;
$lgWidth: 992px;
$mdWidth: 768px;
$smWidth: 480px;
$xsWidth: 320px;
