header.header
    .header__wrapper
        a(href="/").header__logo
            img(src="./img/logo.png", class="logo" ,alt="РусЭкспорт логотип")
        .header__menu
            nav
                ul
                    li.link-nav
                        a(href="./about.html") О компании
                    li.has-dropdown.link-nav.notebook-link
                        a(href="services.html")
                            span Все услуги
                            +icon('drop-down-triangle','')
                    li.has-dropdown.link-nav.dropdown-trigger.desktop-link
                        a(href="services-export.html")
                            span Экспорт
                            +icon('drop-down-triangle','')
                        ul.dropdown-menu
                            li
                                a(href="./services-export.html").subtitle Экспорт из России
                                ul
                                    li
                                        a(href="") Поиск поставщиков в&nbsp;России
                                    li
                                        a(href="") Таможенный транзит
                                    li
                                        a(href="") Продвижение российских товаров на&nbsp;зарубежных рынках
                                    li
                                        a(href="./services-tamozhennoe-oformlenie.html") Таможенное оформление и&nbsp;сертификация
                                    li
                                        a(href="") Реэкспорт
                                    li
                                        a(href="./services-dostavka-tovara.html") Доставка товара иностранному покупателю
                                    li
                                        a(href="") Временный вывоз
                                    li
                                        a(href="") Документы для&nbsp;экспорта
                                    li
                                        a(href="") Переработка вне&nbsp;таможенной территории
                    li.has-dropdown.link-nav.dropdown-trigger.desktop-link
                        a(href="services-import.html")
                            span Импорт
                            +icon('drop-down-triangle','')
                        ul.dropdown-menu
                            li
                                a(href="./services-import.html").subtitle Импорт из России
                                ul
                                    li
                                        a(href="") Заключение контрактов и согласование условий поставки
                                    li
                                        a(href="") Таможенное оформление и сертификация
                                    li
                                        a(href="") Доставка товара иностранному покупателю
                                    li
                                        a(href="") Завершение сделки
                                    li
                                        a(href="") Документы для Импора
                                    li
                                        a(href="") Поиск поставщиков
                                    li
                                        a(href="") Продвижение российских товаров на зарубежных рынках
                                    li
                                        a(href="") РеИмпорт
                    li.has-dropdown.link-nav.dropdown-trigger.desktop-link
                        a(href="services-cargo.html")
                            span Грузоперевозки
                            +icon('drop-down-triangle','')
                        ul.dropdown-menu
                            li
                                a(href="./services-cargo.html").subtitle Грузоперевозки из России
                                ul
                                    li
                                        a(href="") Заключение контрактов и согласование условий поставки
                                    li
                                        a(href="") Таможенное оформление и сертификация
                                    li
                                        a(href="") Временный вывоз
                                    li
                                        a(href="") Переработка вне таможенной территории
                                    li
                                        a(href="") Таможенный транзит
                    li.link-nav.desktop-link
                        a(href="tamozhennoe-oformlenie.html")
                            span Таможенное оформление
                            +icon('drop-down-triangle', '')
                        ul.dropdown-menu
                            li
                                a.subtitle(href="./tamozhennoe-oformlenie.html") Таможенное оформление
                                ul
                                    li
                                        a(href="") Декларирование товаров при Экспорте
                                    li
                                        a(href="") Декларирование товаров при Импорте
                                    li
                                        a(href="") Регистрация участника ВЭД в&nbsp;таможенных органах
                                    li
                                        a(href="") Представление интересов в&nbsp;таможенных органах
                                    li
                                        a(href="") Составление внешнеторговых контрактов
                                    li
                                        a(href="") Оформление товаросопроводительных документов (CMR, TIR, ТТН)
                                    li
                                        a(href="") Участие в&nbsp;досмотрах
                                    li
                                        a(href="") Оплата услуг СВХ и&nbsp;таможенных платежей
                                    li
                                        a(href="") Оформление корректировки таможенной стоимости (КТС)
                                    li
                                        a(href="") Услуги перевода
                    li.link-nav
                        a(href="./contacts.html") Контакты
        .header__languages
            a(href="").link-nav.is-active RUS
            a(href="").link-nav En
            a(href="").link-nav 中文
        .header__contacts
            .header-phone
                .header-phone-item.header-phone__trigger.link-nav.dropdown-trigger
                    .header-phone-item__label
                        span Москва
                        +icon('drop-down-triangle','')
                    a(href="tel:+74957951680").header-phone-item__number +7 (495) 795-16-80
                .header-phone-all.dropdown-menu.scroll
                    .header-phone-all__wrapper
                        .header-phone-item
                            .header-phone-item__label
                                span Архангельск
                            a(href="").header-phone-item__number +7 (818) 245-76-61
                        .header-phone-item
                            .header-phone-item__label
                                span Владивосток
                            a(href="").header-phone-item__number +7 (423) 249-23-29
                        .header-phone-item
                            .header-phone-item__label
                                span Екатеринбург
                            a(href="").header-phone-item__number +7 (343) 300-89-74
                        .header-phone-item
                            .header-phone-item__label
                                span Челябинск
                            a(href="").header-phone-item__number +7 (351) 700-02-04
                        .header-phone-item
                            .header-phone-item__label
                                span Иркутск
                            a(href="").header-phone-item__number +7 (343) 300-89-74
                        .header-phone-item
                            .header-phone-item__label
                                span Казань
                            a(href="").header-phone-item__number +7 (843) 233-48-36
                        .header-phone-item
                            .header-phone-item__label
                                span Краснодар
                            a(href="").header-phone-item__number +7 (861) 212-06-43
                        .header-phone-item
                            .header-phone-item__label
                                span Красноярск
                            a(href="").header-phone-item__number +7 (391) 249-66-43
                        .header-phone-item
                            .header-phone-item__label
                                span Москва
                            a(href="").header-phone-item__number +7 (495) 204-13-51
                        .header-phone-item
                            .header-phone-item__label
                                span Мурманск
                            a(href="").header-phone-item__number +7 (815) 263-20-95
                        .header-phone-item
                            .header-phone-item__label
                                span Нижний Новгород
                            a(href="").header-phone-item__number +7 (831) 231-02-47
                        .header-phone-item
                            .header-phone-item__label
                                span Новосибирск
                            a(href="").header-phone-item__number +7 (383) 202-16-95
                        .header-phone-item
                            .header-phone-item__label
                                span Перми
                            a(href="").header-phone-item__number +7 (342) 255-46-48
                        .header-phone-item
                            .header-phone-item__label
                                span Ростов-на-Дону
                            a(href="").header-phone-item__number +7 (863) 309-12-91
                        .header-phone-item
                            .header-phone-item__label
                                span Самара
                            a(href="").header-phone-item__number +7 (846) 219-20-94
                        .header-phone-item
                            .header-phone-item__label
                                span Санкт-Петербург
                            a(href="").header-phone-item__number +7 (812) 660-50-54
        .header__buttons
            .header-search
                button.header-search__trigger.link-nav.dropdown-trigger
                    +icon('search','')
                form(action="./search.html").header-search__form.dropdown-menu
                    .header-search__container
                        input(type="text",placeholder="Поиск").header-search__input
                        button(type="submit").button.header-search__submit
                            +icon('search','')
                            span Искать
            a(href="tel:+74957951680").button-phone.link-nav.mobile-link
                +icon('contacts-phone','')
            button.button-user.link-nav
                +icon('login','')
            button.button-menu.link-nav
                +icon('menu','')
