@mixin transition {
    transition: 0.2s;
}

.header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: $header;

    &::before {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        display: block;
        transition: all 0.2s;
        opacity: 0;
        background: rgba(255, 255, 255, 0.8);
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
        backdrop-filter: saturate(180%) blur(8px);
    }

    &--fixed, &:hover {
        &::before {
            opacity: 1;
        }
    }

    &__wrapper {
        position: relative;
        z-index: 2;
        width: 100%;
        max-width: 1800px;
        height: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-right: 10px;
        padding-left: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        > * {
            height: 100%;
        }
    }

    &__logo {
        display: flex;
        align-items: center;
        flex: 0 0 auto;
        justify-content: center;
    }

    &__menu {
        margin-left: -34px;

        > nav {
            height: 100%;

            ul {
                list-style: none;
            }

            > ul {
                height: 100%;
                display: flex;
                align-items: center;

                > li {
                    position: relative;
                    height: 100%;

                    > a {
                        z-index: 1;
                        width: 100%;
                        height: 100%;
                        padding: 0 18px;
                        display: inline-flex;
                        align-items: center;
                    }

                    .dropdown-menu {
                        position: absolute;
                        z-index: 0;
                        left: 0;
                        min-width: 700px;
                        padding: 50px;

                        .subtitle {
                            margin-bottom: 24px;
                            display: inline-block;
                        }

                        a {
                            @include transition;
                            color: $main;

                            &:hover {
                                color: $hover;
                            }
                        }

                        ul {
                            padding-left: 18px;
                            border-left: 2px solid #f2f4f8;

                            column-count: 2;
                            column-fill: balance;

                            li {
                                width: 100%;
                                margin-bottom: 24px;
                                display: block;

                                page-break-inside: avoid;

                                a {
                                    @include transition;
                                    position: relative;
                                    width: 100%;
                                    height: 100%;
                                    padding-left: 0;
                                    display: flex;
                                    align-items: center;

                                    &::before {
                                        @include transition;
                                        content: "";
                                        position: absolute;
                                        top: 10px;
                                        left: 0;
                                        width: 0;
                                        height: 0;
                                        display: inline-flex;
                                        flex: 0 0 auto;
                                        background: $hover;
                                    }

                                    &:hover {
                                        padding-left: 15px;
                                        color: $hover;

                                        &::before {
                                            width: 3px;
                                            height: 3px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &__languages {
        display: flex;
        align-items: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 400;
        font-style: normal;

        a {
            height: 100%;
            padding: 0 8px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }

        .is-active {
            color: $main;
        }
    }

    &-phone {
        position: relative;
        width: 190px;
        height: 100%;
        display: flex;
        align-items: center;
        flex: 0 0 auto;
        justify-content: center;

        &__trigger {
            width: 100%;
            height: 100%;
            padding-right: 22px;
            padding-left: 22px;
            justify-content: center;
            cursor: pointer;
        }
    }

    &-item {
        display: flex;
        flex-direction: column;
        transition: 0.3s;

        > * {
            display: block;
            line-height: 1;
        }

        &__label {
            padding-bottom: 9px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            font-size: 12px;
            line-height: 1.4;
        }
    }

    &-all {
        position: absolute;
        top: $header;
        right: 0;
        width: 100%;
        height: 290px;

        .header-phone-item {
            position: relative;
            min-height: 72px;
            padding-right: 22px;
            padding-left: 22px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-bottom: 1px solid $grey;

            &::before {
                content: "";
                position: absolute;
                z-index: 0;
                bottom: 0;
                left: 0;
                width: 0;
                height: 2px;
                display: block;
                transition: 0.3s;
                background: $hover;
            }

            > * {
                position: relative;
                z-index: 1;
            }

            &__wrapper {
                width: 100%;
                height: 100%;
            }

            .header-phone-item:hover {
                color: $hover;
            }
        }
    }

    &__buttons {
        display: flex;
        align-items: center;

        > * {
            height: 100%;
            padding: 0;
            display: flex;
            align-items: center;
            flex: 0 0 auto;
            justify-content: center;
        }

        .link-nav {
            width: 70px;
            height: 100%;
            cursor: pointer;

            &:hover {
                background: #ffffff;

                &::after {
                    opacity: 1;
                }

                .icon {
                    fill: $hover;
                }
            }

            .icon {
                fill: $main;
                font-size: 30px;
            }
        }
    }

    &-search {
        position: relative;
        display: flex;
        align-items: center;

        &__form {
            position: absolute;
            top: 0;
            right: 0;
            width: 350px;
        }

        &__container {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
        }

        &__input {
            width: 100%;
            margin: 0 10px 0 20px;
            padding: 10px 0;
            border-color: transparent;
            border-bottom: 1px solid $grey;
        }

        &__submit {
            width: 110px;
            height: 100%;
            margin-left: 10px;
            display: flex;
            align-items: center;
            flex: 0 0 auto;
            justify-content: center;
            color: $main;
            font-weight: 400;

            &:hover {
                color: #ffffff;
                background: $main;

                .icon {
                    fill: #ffffff;
                }
            }

            .icon {
                @include transition;
                width: 0.4em;
                margin-right: 8px;
                flex: 0 0 auto;
                fill: $main;
            }
        }
    }

    .icon-drop-down-triangle {
        width: 0.8em;
        margin-left: 10px;
    }

    .link-nav {
        @include transition;
        position: relative;
        border: none;
        background: none;

        &::after {
            @include transition;
            content: "";
            position: absolute;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 3px;
            display: block;
            opacity: 0;
            background: $main;
        }

        &:hover {
            .dropdown-menu {
                transform: translateY(0);
                pointer-events: auto;
                opacity: 1;

                > * {
                    transform: translateY(0);
                    opacity: 1;
                }
            }
        }

        &--active, &.dropdown-trigger--active, &:hover {
            color: $hover;
            background: #ffffff;

            &::after {
                opacity: 1;
            }

            .icon {
                fill: $hover;
            }
        }
    }

    .notebook-link, .mobile-link {
        display: none;
    }

    .dropdown-menu {
        top: $header;
        overflow: hidden;
        transition: 0.3s;
        transform: translateY(10px);
        pointer-events: none;
        opacity: 0;
        background: #ffffff;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        backdrop-filter: saturate(180%) blur(8px);

        > * {
            transition: 0.2s 0.1s;
            transform: translateY(20px);
            opacity: 0;
        }

        &--active {
            transform: translateY(0);
            pointer-events: auto;
            opacity: 1;

            > * {
                transform: translateY(0);
                opacity: 1;
            }
        }
    }
}

@media screen and (max-width: 1600px) {
    .header {
        &__menu {
            margin-left: 0;

            > nav {
                > ul {
                    > li {
                        > a {
                            padding: 0 8px;
                        }
                    }
                }
            }
        }

        &__buttons {
            .link-nav {
                width: 56px;
            }
        }
    }
}

@media screen and (max-width: 1400px) {
    .header {
        &__wrapper {
            max-width: 1180px;
        }

        &__menu {
            .notebook-link {
                display: list-item;
            }

            > nav {
                > ul {
                    > li {
                        > a {
                            padding: 0 14px;
                        }
                    }
                }
            }
        }

        .desktop-link {
            display: none;
        }
    }
}

@media screen and (max-width: 992px) {
    .header {
        &__logo {
            margin-right: auto;
        }

        &__menu {
            display: none;
        }

        &__languages {
            display: none;
        }
    }
}

@media screen and (max-width: 767px) {
    .header {
        height: 70px;

        &-phone {
            display: none;
        }

        &__buttons {
            margin-right: -5px;

            .link-nav {
                width: 50px;
            }
        }

        &-search {
            position: static;

            &__form {
                width: 100%;
            }
        }

        .dropdown-menu {
            top: 70px;
            box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
        }

        .mobile-link {
            display: flex;
        }
    }
}