.services-accordions
    .services-accordions__wrapper
        h3.subtitle Рассмотрим основные составляющие этого этапа:
        .services-accordions-item.accordion
            .services-accordions-item__button.accordion__button.text-larger
                span Lorem ipsum dolor sit amet, consectetur adipisicing.
                +icon('arrow-down', '')
            .services-accordions-item__content.accordion__content.text-big-lh
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus recusandae ex consectetur architecto nobis doloribus harum odit dolore dolorem veniam?
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus recusandae ex consectetur architecto nobis doloribus harum odit dolore dolorem veniam?
        .services-accordions-item.accordion
            .services-accordions-item__button.accordion__button.text-larger
                span Lorem ipsum dolor sit amet, consectetur adipisicing.
                +icon('arrow-down', '')
            .services-accordions-item__content.accordion__content.text-big-lh
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus recusandae ex consectetur architecto nobis doloribus harum odit dolore dolorem veniam?
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus recusandae ex consectetur architecto nobis doloribus harum odit dolore dolorem veniam?
        .services-accordions-item.accordion
            .services-accordions-item__button.accordion__button.text-larger
                span Lorem ipsum dolor sit amet, consectetur adipisicing.
                +icon('arrow-down', '')
            .services-accordions-item__content.accordion__content.text-big-lh
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus recusandae ex consectetur architecto nobis doloribus harum odit dolore dolorem veniam?
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus recusandae ex consectetur architecto nobis doloribus harum odit dolore dolorem veniam?
        .services-accordions-item.accordion
            .services-accordions-item__button.accordion__button.text-larger
                span Lorem ipsum dolor sit amet, consectetur adipisicing.
                +icon('arrow-down', '')
            .services-accordions-item__content.accordion__content.text-big-lh
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus recusandae ex consectetur architecto nobis doloribus harum odit dolore dolorem veniam?
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus recusandae ex consectetur architecto nobis doloribus harum odit dolore dolorem veniam?
        .services-accordions-item.accordion
            .services-accordions-item__button.accordion__button.text-larger
                span Lorem ipsum dolor sit amet, consectetur adipisicing.
                +icon('arrow-down', '')
            .services-accordions-item__content.accordion__content.text-big-lh
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus recusandae ex consectetur architecto nobis doloribus harum odit dolore dolorem veniam?
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus recusandae ex consectetur architecto nobis doloribus harum odit dolore dolorem veniam?
        .services-accordions-item.accordion
            .services-accordions-item__button.accordion__button.text-larger
                span Lorem ipsum dolor sit amet, consectetur adipisicing.
                +icon('arrow-down', '')
            .services-accordions-item__content.accordion__content.text-big-lh
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus recusandae ex consectetur architecto nobis doloribus harum odit dolore dolorem veniam?
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus recusandae ex consectetur architecto nobis doloribus harum odit dolore dolorem veniam?
        .services-accordions-item.accordion
            .services-accordions-item__button.accordion__button.text-larger
                span Lorem ipsum dolor sit amet, consectetur adipisicing.
                +icon('arrow-down', '')
            .services-accordions-item__content.accordion__content.text-big-lh
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus recusandae ex consectetur architecto nobis doloribus harum odit dolore dolorem veniam?
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus recusandae ex consectetur architecto nobis doloribus harum odit dolore dolorem veniam?