.services-accordions {
    padding-top: 30px;
    padding-bottom: 30px;

    .subtitle {
        padding-bottom: 20px;
    }

    &-item {
        height: 85px;
        margin-bottom: 15px;
        overflow: hidden;
        border: 2px solid #eceff5;
        background: #ffffff;

        &__button {
            min-height: 85px;
            padding-right: 30px;
            padding-left: 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            color: $main;

            .icon {
                transition: 0.3s;
                fill: $main;
                font-size: 10px;
            }
        }

        &__content {
            padding-right: 30px;
            padding-left: 30px;
            transition: 0.3s 0.1s;
            opacity: 0;

            > * {
                padding-bottom: 30px;
            }
        }

        &.accordion--active {
            .accordion__button {
                .icon {
                    transform: rotate(180deg);
                }
            }

            .accordion__content {
                opacity: 1;
            }
        }
    }
}