mixin breadcrumbs(paths)
    .breadcrumbs
        ol(itemscope, itemtype="http://schema.org/BreadcrumbList")
            li(itemprop="itemListElement", itemscope, itemtype="http://schema.org/ListItem")
                a(itemscope, itemtype="http://schema.org/Thing", itemprop="item", href="/")
                    span(itemprop="name") Главная
                meta(itemprop="position", content="0")
            each path,index in paths
                li(itemprop="itemListElement", itemscope, itemtype="http://schema.org/ListItem")
                    a(itemscope, itemtype="http://schema.org/Thing", itemprop="item", href="/"+ path + "")
                        span(itemprop="name") !{path}
                    meta(itemprop="position", content="#{index + 1}")