.page-title {
    color: #000;

    .breadcrumbs {
        padding-top: 20px;
        padding-bottom: 10px;
        opacity: 0.5;
    }

    &__content {
        margin-bottom: 40px;
    }

    &--with-bg {
        position: relative;
        margin-bottom: 60px;
        padding-bottom: 130px;
        text-align: center;
        color: #fff;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        &::before {
            content: "";
            position: absolute;
            z-index: 0;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.45);
        }

        .breadcrumbs {
            padding-top: 70px;
            padding-bottom: 60px;
            opacity: 0.8;

            > ol {
                align-items: center;
                justify-content: center;
            }
        }

        > * {
            position: relative;
            z-index: 1;
        }
    }
}
