$fontPrimary: "Mont";
$fontSecondary: "PlayfairDisplay";

@font-face {
  font-family: #{$fontPrimary};
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/#{$fontPrimary}/#{$fontPrimary}-Regular.eot');
  src: url('../fonts/#{$fontPrimary}/#{$fontPrimary}-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/#{$fontPrimary}/#{$fontPrimary}-Regular.woff2') format('woff2'),
    url('../fonts/#{$fontPrimary}/#{$fontPrimary}-Regular.woff') format('woff'),
    url('../fonts/#{$fontPrimary}/#{$fontPrimary}-Regular.ttf') format('truetype');
}

@font-face {
  font-family: #{$fontPrimary};
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/#{$fontPrimary}/#{$fontPrimary}-Bold.eot');
  src: url('../fonts/#{$fontPrimary}/#{$fontPrimary}-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/#{$fontPrimary}/#{$fontPrimary}-Bold.woff2') format('woff2'),
    url('../fonts/#{$fontPrimary}/#{$fontPrimary}-Bold.woff') format('woff'),
    url('../fonts/#{$fontPrimary}/#{$fontPrimary}-Bold.ttf') format('truetype');
}

@font-face {
  font-family: #{$fontSecondary};
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/#{$fontSecondary}/#{$fontSecondary}-Regular.eot');
  src: url('../fonts/#{$fontSecondary}/#{$fontSecondary}-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/#{$fontSecondary}/#{$fontSecondary}-Regular.woff2') format('woff2'),
    url('../fonts/#{$fontSecondary}/#{$fontSecondary}-Regular.woff') format('woff'),
    url('../fonts/#{$fontSecondary}/#{$fontSecondary}-Regular.ttf') format('truetype');
}
