h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    opacity: 0;
    border: 0;

    clip-path: inset(50%);
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
}